body {
  font-family: Roboto, arial, sans-serif;
  background-image: url("https://boyslifeorg.files.wordpress.com/2019/04/skyblue.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0 auto;
  padding: 0;
}

img {
  width: 55px;
}

h1 {
  color: rgb(135, 135, 135);
  display: block;
  font-size: 24px;
  line-height: 28px;
  text-align: left;
  width: 618px;
  margin: 0;
  padding-top: 20px;
}

ul {
  margin: 0 0 20px;
  padding: 0;
}

li {
  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 300;
  height: 19px;
  line-height: 1;
  list-style: none;
}

footer {
  text-align: center;
}

strong {
  font-size: 40px;
}

.link {
  color: purple;
}

.weather-app {
  background-color: white;
  border: 4px solid hotpink;
  padding: 25px;
  padding-bottom: 60px;
  margin: 40px auto;
  border-radius: 10px;
  max-width: 600px;
}

.forecast {
  margin: 20px auto;
  padding: 0;
  text-align: center;
}

.units {
  position: relative;
  top: -15px;
}

.weather-temperature img {
  margin-right: 20px;
}
